<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
  https://www.springframework.org/schema/beans/spring-beans.xsd">
 
  <bean class="com.ref.B" name="bb">
      <property name="name" value="Tejuu"/>
  </bean>
  <bean class="com.ref.A" name="cc">
       <property name="no" value="123"/>
       <property name="bf" ref="bb"/>
  </bean>
</beans>