<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:util="http://www.springframework.org/schema/util"
  xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           https://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           https://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/util
           https://www.springframework.org/schema/util/spring-util.xsd">
          
          
      <util:list list-class="java.util.LinkedList" id="name">
           <value>Teju</value>
           <value>Shri</value>
      </util:list>
      <util:map map-class="java.util.HashMap" id="mm">
      <entry key="vada" value="10"/>
      <entry key="pav" value="5"/>
      </util:map>
      <util:properties  id="pp">
       <prop key="ttt">ttt</prop>
       <prop key="sss">sss</prop>
      </util:properties>
      <bean class="com.standalone.collec.Person" name="p1">
      <property name="name" ref="name"/>
      <property name="street" ref="mm"/>
      <property name="prop" ref="pp"/>
      </bean> 
      
</beans>