<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           https://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           https://www.springframework.org/schema/context/spring-context.xsd">
           
 <context:annotation-config/>
 <bean class="com.springcore.autowire.Address" name="s1">
 <property name="street" value="poha city"/>
 
 <property name="name" value="teju"/>

 </bean>
 <bean class="com.springcore.autowire.Address" name="s2">
 <property name="street" value="poha 11city"/>
 
 <property name="name" value="11teju"/>

 </bean>
 <bean class="com.springcore.autowire.Student" name="adress"/>
 
</beans>